@{
    ViewBag.Title = "Add";
}

<h2>Add a new post</h2>

<form action="/HealthLibrary/Add" method="post">
    <div class="form-group">
        <label for="Title" class="col-sm-2 control-label">Title:</label>
        <input type="text" id="Title" name="Title" placeholder="Enter a title..." class="form-control" />
    </div>
    <div class="form-group">
        <label for="Date" class="col-sm-2 control-label">Date:</label>
        <input type="text" id="Date" name="Date" placeholder="yyyy-mm-dd" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Body" class="col-sm-2 control-label">Body:</label>
        <textarea id="Body" name="Body" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Published:</label>
        <label for="PublishedYes">Yes</label>
        <input type="radio" id="PublishedYes" name="Published" value="true" />
        <label for="PublishedNo">No</label>
        <input type="radio" id="PublishedNo" name="Published" value="false" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Add</button>
        <a class="btn btn-default" href="/HealthLibrary/List" role="button">Cancel</a>
    </div>
</form>