@model HospitalProject.Models.ViewModels.AddInvoice
@{
    ViewBag.Title = "Add";
}

<h2>Add an Invoice for Patient</h2>
<div class="navbar">
    <a class="navlink" href="/Invoice/List">Back to List</a>
</div>
<form method="post" action="/Invoice/Add">
    <div class="sectionheader">
        Invoice Details
    </div>
    <div class="form-group">
        <span>Patient:</span>
        <select name="PatientID">
            @foreach (var patient in Model.Patients)
            {
                <option value="@patient.PatientID">@patient.ApplicationUser.FirstName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <span>Service:</span>
        <select name="ServiceID">
            @foreach (var service in Model.Services)
            {
                <option value="@service.ServiceID">@service.ServiceName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <span>Amount:</span>
        <input type="number" id="Amount" name="Amount" />
    </div>
    <div class="form-group">
        <span>Date of Service:</span>
        <input type="date" id="DateOfService" name="DateOfService" />
    </div>
    <div class="form-group">
        <span>Status:</span>
        <label for="paid">Paid</label>
        <input type="radio" id="paid" name="Status" value="paid"/>
        <label for="unpaid">Unpaid</label>
        <input type="radio" id="unpaid" name="Status" value="unpaid" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add Invoice" />
    </div>
</form>

