@model HospitalProject.Models.Service
@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Are you sure you want to delete?</h2>
<div class="navbar">
    <a href="/Service/Show/@Model.ServiceID">Cancel</a>
</div>
<form method="POST" action="/Service/Delete/@Model.ServiceID">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>


