@model HospitalProject.Models.Volunteer
@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Are you sure you want to delete @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName?</h2>
<div class="navbar">
    <a href="/Volunteer/Show/@Model.VolunteerID">Cancel</a>
</div>
<form method="POST" action="/Volunteer/Delete/@Model.VolunteerID">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>

