
@{
    ViewBag.Title = "List";
}

<h2>List of Volunteers</h2>
<div class="navbar">
    <form action="/Volunteer/List" method="get" style="display:inline-block; float:right;">
        <input type="text" name="searchkey" id="searchkey" class="btn btn-default search-input"/>
        <input type="submit" value="Search" class="btn btn-default"/>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Volunteer ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var volunteer in Model.Volunteers)
        { 
            <tr>
                <td>@volunteer.VolunteerID</td>
                <td>@volunteer.VolunteerName</td>
                <td>@volunteer.VolunteerEmail</td>
            </tr>
        }
    </tbody>
</table>

