@model List<HospitalProject.Models.Volunteer>
@{
    ViewBag.Title = "List";
}

    <h2>List of Volunteers</h2>
<a href="../Account/Register">Add Volunteer</a>
<table class="table">
    <tr>
        <th>Volunteer ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var volunteer in Model)
    {
        <tr>
            <td><a href="Show/@volunteer.VolunteerID">@volunteer.ApplicationUser.FirstName, @volunteer.ApplicationUser.LastName</a></td>
            <td>@volunteer.ApplicationUser.Email</td>
            <td><a href="Update/@volunteer.VolunteerID">Edit</a> | <a href="Delete/@volunteer.VolunteerID">Delete</a></td>
        </tr>
    }
</table>






