@model List<HospitalProject.Models.Job>
@{
    ViewBag.Title = "JobsPosts";
}

<h2>Current Openings</h2>
<table class="table">
    <tr>
        <th>Position</th>
        <th>Job Type</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Actions</th>
    </tr>
    @foreach (var job in Model)
    {
        <tr>
            <td>@job.Position</td>
            <td>@job.JobType.JobTypeTitle</td>
            <td>@job.Qualification</td>
            <td>@job.Experience</td>
            <td><a href="Apply/@job.JobID">Apply</a></td>
        </tr>
    }
</table>

