@{
    ViewBag.Title = "About";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
*@

<h2>HTTP5204 - Hospital Project</h2>

<p>This is an proposed redesign of the North Bay Regional Health Centre. This was a educational project as part of the <a href="humber.ca">Humber College</a> Web Development Graduate Certificate curriculum.</p>

<p>This website contains features designed and developed by students in the program. Each student contributed 2 features with full CRUD capabilities as demonstrated on this website.</p>

<p>This is a databased driven project based on an ASP.NET MVC 5 framework.</p>

<h3>Team Members</h3>
<ul>
    <li>Susan Boratynska</li>
    <li>Het Kansara</li>
    <li>Maitri Modi</li>
    <li>Michael Pavlovic</li>
    <li>Mounica Sykam</li>
    <li>Hilmi Yildirim</li>
</ul>