@{
    ViewBag.Title = "Contact";
}

@*
    NOTE: This page was lifted from the existing website.
    SRC: http://www.nbrhc.on.ca/contact-us/
*@

<h2><strong>North Bay Regional Health Centre</strong></h2>
<p>
    50 College Drive<br />
    P.O. Box 2500<br />
    North Bay, Ontario P1B 5A4<br />
    Main Phone Number: 705-474-8600
    <iframe width="100%" height="300" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22035.47889217931!2d-79.48084822189271!3d46.34091312762392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d173ef571affac!2sNorth+Bay+Regional+Health+Centre!5e0!3m2!1sen!2sca!4v1397594847321"></iframe>
</p>
<h2>
    <strong>
        Kirkwood Place<br />
    </strong>
</h2>
<p>
    680 Kirkwood Drive<br />
    Sudbury, Ontario P3E 1X3<br />
    Tel: 705-675-9193<br />
    Fax: 705-675-6817<br />
    <iframe width="100%" height="300" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10990.064150326869!2d-80.95958255292759!3d46.47809340116097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2f000807eeba69%3A0xb036a725cbbeb06f!2sNorth+Bay+Regional+Health+Centre+-+Sudbury+Campus!5e0!3m2!1sen!2sca!4v1397595671209"></iframe>
</p>
<p>If you or someone you know is experiencing a mental health crisis, please contact our crisis line, available 24 hours a day, seven days a week at:<strong> 1-800-352-1141</strong> <span style="text-decoration: underline;">(only for crisis support).</span></p>

