@model List<HospitalProject.Models.VolunteerPosting>
@{
    ViewBag.Title = "List";
}

<h2>List of Postings</h2>
<a href="Add">Add Posting</a>
<table class="table">
    <tr>
        <th>Posting ID</th>
        <th>Title</th>
    </tr>
    @foreach (var posting in Model)
    { 
        <tr>
            <td>@posting.VolunteerPostingID</td>
            <td><a href="Show/@posting.VolunteerPostingID">@posting.VolunteerPostingTitle</a></td>
            <td><a href="Update/@posting.VolunteerPostingID">Edit</a> | <a href="Delete/@posting.VolunteerPostingID">Delete</a></td>
        </tr>
    }
</table>

